auto-install-peers = true
registry=https://registry.npmmirror.com
SENTRYCLI_CDNURL=https://cdn.npmmirror.com/binaries/sentry-cli
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
sharp_binary_host=https://npmmirror.com/mirrors/sharp
home=https://www.npmjs.org
