.#{$prefixCls}-editable-cell {
    position: relative;
    min-height: 24px; //设置高度让其始终可被hover
    .edit-cell-align-left {
        text-align: left;
    
        input:not(.ant-calendar-picker-input, .ant-time-picker-input) {
          text-align: left;
        }
    }
    
    .edit-cell-align-center {
        text-align: center;
    
        input:not(.ant-calendar-picker-input, .ant-time-picker-input) {
            text-align: center;
        }
    }

    .edit-cell-align-right {
        text-align: right;
    
        input:not(.ant-calendar-picker-input, .ant-time-picker-input) {
            text-align: right;
        }
    }

    &-rule-popover {
        .ant-popover-inner-content {
            padding: 4px 8px;
            border-radius: 2px;
            color: $error-color;
        }
    }

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
  
        > .ant-select {
          min-width: calc(100% - 50px);
        }
      }
  
    &-icon {
        margin-left: 4px;
        margin-right: 2px;
        &:hover {
            transform: scale(1.2);
    
            svg {
                color: $primary-color;
            }
        }
    }
  
    .ellipsis-cell {
        .cell-content {
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            white-space: nowrap;
            overflow-wrap: break-word;
        }
    }
  
    &-normal {
        &-icon {
            display: none;
            position: absolute;
            top: 4px;
            right: 0;
            width: 20px;
            cursor: pointer;
        }
    }
  
    &:hover {
        .q-table-editable-cell-normal-icon {
            display: inline-block;
        }
    }
}