@use 'sass:math';
$prefix-cls: 'q-table';
.#{$prefix-cls}-setting {
    & > * {
        margin-right: 12px;
    }
    svg {
        width: 20px;
        height: 20px;
    }
    &_tooltip_container {
        z-index: 10000;
    }
    &__content {
        & > * {
            margin-right: 12px;
        }
        svg {
            width: 20px;
            height: 20px;
        }
        span:last-child {
            margin-right: 0;
        }
    }
    &-column {
        width: 400px;

        &-popover-title {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: space-between;
        }
        .ant-checkbox-group {
            max-height: 500px;
            overflow-x: hidden;
            overflow-y: auto;
        }

        &-check-item {
            display: flex;
            align-items: center;
            min-width: 100%;
            padding: 4px 16px 8px 0;

            .ant-checkbox-wrapper {
                width: 100%;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
        &-fixed-left,
        &-fixed-right {
            color: rgb(0 0 0 / 45%);
            cursor: pointer;

            &.active,
            &:hover {
                color: var(--primary-color);
            }

            &.disabled {
                color: var(--disabled-color);
                cursor: not-allowed;
            }
        }

        &-fixed-right {
            transform: rotate(180deg);
        }
    }

    &.float-setting {
        top: 0;
        position: absolute;
        z-index: 999;
        height: 20px;
        width: 20px;
        overflow: hidden;
        background-color: #fff;
        padding: 4px;
        border-radius: 4px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        &:hover {
            // width: 100%;
        }
        .#{$prefix-cls}-setting__toggle-btn {
            cursor: pointer;
        }
    }
}

.dark,
.dark[data-theme='custom'],
.dark[data-theme='default'] {
    .#{$prefix-cls}-setting {
        &.float-setting {
            background-color: #1f1f1f;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        }
    }
}
