.breadcrumb-enter-from,
.breadcrumb-leave-to {
    opacity: 0;
    transform: translateX(20px);
}
.breadcrumb-leave-active {
  position: absolute;
}

.breadcrumb-container {
    @include text-color(text-color-secondary);
    cursor: pointer;
    .breadcrumb-separator {
        padding: 0 8px;
    }
    .breadcrumb-item {
        display: inline-block;
        transition: all 0.5s;
        .breadcrumb-link:hover {
            color: $primary-color;
        }
        &:last-of-type {
            .breadcrumb-separator {
                display: none;
            }
            .breadcrumb-link {
                @include text-color(heading-color);
                cursor: default;
            }
        }
    }
}