$multiple-height: 30px;
#qm-keep-alive-tabs.qm-keep-alive-tabs {
    .ant-tabs-small {
        height: $multiple-height;
    }
    .ant-tabs.ant-tabs-card {
        .ant-tabs-nav {
            height: $multiple-height;
            &::before {
                border: 0;
            }
            .ant-tabs-nav-more {
                display: flex;
            }
        }
        .ant-tabs-card-bar {
            height: $multiple-height;
            border: 0;
            margin: 0;
            box-shadow: none;
        }
        .ant-tabs-nav-container {
            height: $multiple-height;
        }
        .ant-tabs-tab {
            height: $multiple-height - 2px;
            padding-right: 12px;
            line-height: $multiple-height - 2px;
            @include text-color(text-color);
            transition: none;
            border-radius: 3px;

            &:hover {
                .ant-tabs-close-x {
                    opacity: 1;
                }
            }

            .ant-tabs-close-x {
                width: 8px;
                height: 12px;
                font-size: 12px;
                color: inherit;
                opacity: 0;
                transition: none;

                &:hover {
                    svg {
                        width: 0.8em !important;
                    }
                }
            }

            > div {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            svg {
                @include text-color(text-color);
            }
        }
        .ant-tabs-tab:not(.ant-tabs-tab-active) {
            &:hover {
                color: $primary-color;
            }
        }
        .ant-tabs-tab-active {
            position: relative;
            padding-left: 18px;
            background: $primary-color;
            border: 0;
            transition: none;
            span {
                color: #fff !important;
            }
            .ant-tabs-close-x {
                opacity: 1;
            }

            svg {
                width: 0.7em;
                fill: #fff;
            }
        }
        .ant-tabs-tab:not(.ant-tabs-tab-active) {
            .anticon-close {
                font-size: 12px;

                svg {
                    width: 0.6em;
                }
            }
        }
        .ant-tabs-extra-content {
            margin-top: 2px;
            line-height: $multiple-height !important;
        }
        .ant-dropdown-trigger {
            display: inline-flex;
        }

        &--hide-close {
            .ant-tabs-close-x {
                opacity: 0 !important;
            }
        }
    }
    $multiple-height: 30px;
    .ml-1 {
        margin-left: 1px;
    }
}
.tabs-drop-down {
    &-extra-quick {
        display: inline-block;
        width: 36px;
        height: $multiple-height;
        line-height: $multiple-height;
        @include text-color(text-color-secondary);
        text-align: center;
        cursor: pointer;
        border-left: 1px solid;
        @include border-color(border-color, 'left');

        &:hover {
            @include text-color(text-color);
        }
    }

    &-info {
        display: inline-block;
        width: 100%;
        height: $multiple-height - 2;
        padding-left: 0;
        margin-left: -10px;
        font-size: 12px;
        cursor: pointer;
        user-select: none;
    }
}