.icon-popover {
    width: 310px;

    .ant-popover-inner-content {
        padding: 0;
    }

    .scrollbar {
        height: 220px;
    }
    .icon-context {
    }
    .icon-table {
        height: 220px;
        overflow-x: hidden;
        border: 1px solid;
        @include border-color(border-color);
        .table-row {
            display: flex;
            flex-wrap: wrap;
            padding: 0 5px;
            .table-element {
                cursor: pointer;
                width: 12.5%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                margin: 5px;
                border: 1px solid;
                @include border-color(border-color);
                &.selected {
                    border: 1px solid ;
                    border-color: $primary-color;
                }
            }

        }
    }
    .icon-pagination {
        padding: 10px 0;
        text-align: center;
    }
}