@use 'base.css' as *;
@use 'dark.css' as *;

%cf,
%clearfix {
    &:before {
        content: '';
        display: table;
    }
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

// 浅色
$colors-light: (
    body-bg: var(--body-bg),
    aside-bg: var(--aside-bg),
    table-even-bg: var(--table-even-bg),
    border-color: var(--border-color-base),
    text-color: var(--text-color),
    text-color-secondary: var(--text-color-secondary),
    heading-color: var(--heading-color),
);

// 深色
$colors-dark: (
    body-bg: #000,
    aside-bg: rgb(29, 29, 29),
    table-even-bg: rgb(29, 29, 29),
    border-color: #303030,
    text-color: #c9d1d9,
    text-color-secondary: #8b949e,
    heading-color: rgba(255, 255, 255, 0.85),
);
