@use 'sass:string';
@use './mixin.scss';

// =================================
// ==============nprogress==========
// =================================
#nprogress {
    pointer-events: none;

    .bar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        width: 100%;
        height: 2px;
        background-color: var(--primary-color);
        opacity: 0.75;
    }
}

#app {
    font-family: Arial, \u601d\u6e90\u5b8b\u4f53, PingFangSC-Regular, \5FAE\8F6F\96C5\9ED1, \5b8b\4f53;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    width: 100%;
    height: 100%;
}

.wrapper,
.wrapper-special {
    @include mixin.flexbox();
    height: calc(100vh - 48px);
    overflow: hidden;

    .layout-main,
    .js-layout-main {
        display: block;
        @include mixin.flexboxChild();
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: var(--body-bg);

        // &::-webkit-scrollbar {
        //     -webkit-appearance: none;
        // }
        // &::-webkit-scrollbar:vertical {
        //     width: 16px;
        // }
        // &::-webkit-scrollbar-thumb {
        //     border-radius: 8px;
        //     border: 2px solid #F1F1F1;
        //     background-color: #C1C1C1;
        // }
        .row {
            // padding: $space;
            margin-top: var(--space);

            &:first-child {
                margin-top: 0;
            }

            &.padding {
                padding: var(--space);
            }

            &.flex {
                @include mixin.flexbox();
                background: none;
                padding: 0;
                margin: 0;
            }

            .col-a {
                @include mixin.flexboxChild();
                display: block;
                width: 100%;
                background: #fff;
                padding: var(--space);
            }

            .col-b {
                display: block;
                margin-left: var(--space);
                width: 300px;
                padding: var(--space);
                background: #fff;
            }
        }

        .mt {
            margin-top: var(--space);
        }

        .mr {
            margin-right: var(--space);
        }

        .ml {
            margin-left: var(--space);
        }

        .mb {
            margin-bottom: var(--space);
        }

        .important {
            color: var(--important-color);
        }

        .important-second {
            color: var(--important-second-color);
        }

        .bold {
            font-weight: bold;
        }

        .red {
            color: red;
        }
    }
}

.wrapper-special {
    height: 100%;

    .main {
        padding: 0;
        background: none;
    }
}

.wrapper-special {
    height: 100%;

    .main {
        padding: 0;
        background: none;
    }
}

.qm-position-sticky,
.g-position-sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
}
