auto-install-peers = true
registry=https://packages.aliyun.com/5f6426fcdb0493ecef9118ab/npm/npm-registry/
//packages.aliyun.com/5f6426fcdb0493ecef9118ab/npm/npm-registry/:_authToken=8189340c-e582-4d1d-9f9f-1cb14eb832ee
SENTRYCLI_CDNURL=https://cdn.npmmirror.com/binaries/sentry-cli
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
sharp_binary_host=https://npmmirror.com/mirrors/sharp
home=https://www.npmjs.org
