.q-upload {
    &.q-card-upload {
        display: -webkit-box;
        width: 100px;
        height: 100px;

        .avatar-uploader {
            width: 100%;
            height: 100%;
            display: block;

            .ant-upload {
                width: 100%;
                height: 100%;
                .show-img {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    img,video {
                        width: 100%;
                        height: 100%;
                    }
                    &.hover {
                        .mask {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            background-color: #000;
                            opacity: 0.5;
                            pointer-events: initial;
                        }
                    }
                }
                .icon {
                    font-size: 32px;
                    color: #999;
                }
            }

            .ant-upload-select-picture-card i {
                font-size: 32px;
                color: #999;
            }

            .ant-upload-select-picture-card .ant-upload-text {
                margin-top: 8px;
                color: #666;
            }
        }

        .upload-right {
            width: 130%;
            line-height: 16px;
            font-size: 12px;
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
                color: rgb(159, 159, 159);
            }
        }
    }
}