@import '../antd/base.scss';
// antdend

// 绿色配置
// @primary-color: #24b383;
// @link-color: #24b383;

// 橙色配置
// $primary-color: #FAA000;
// $link-color: #CC6D29;

$text-color: #222; // 主文本色
$text-color-secondary: #999; // 次文本色
$border-color-base: #e8e8e8; // 边框色

$space: 10px;                                 // 全站默认间距

$body-bg: #F5F5F5;                          // 全站背景色
$important-color: #f5222d;
$important-second-color: #fca000;
$table-th-bg: #f0f0f0;                      //  表格表头背景色
$table-even-bg: #fafafa;                        //  表格隔行背景色

// header
$header-height: 48px;                                         // header高度
$header-bg: #333;                                           // header背景色
$header-system-color: #fff;                                 // 系统名颜色
$header-system-size: 20px;                                      // 系统名文字大小
$header-tabs-size: 16px;                                       // tab文字大小
$header-tabs-color: #fff;                                   // tab文字背景色
$header-tabs-hover-color: #fff;                             // hover文字颜色
$header-tabs-hover-bg: rgba(255,255,255,0.06);               // hover背景色
$header-tabs-cur-color: #fff;                               // 选中tab文字背景色
$header-tabs-cur-bg: rgba(255,255,255,0.12);                 // 选中tab背景色
$header-environment-color: #FCC800;                         // 环境提示文案颜色
$header-environment-size: 16px;                                 // 环境提示文案字体大小

//aside
$aside-bg: #fff;                                               // 左侧栏背景色
$aside-height: 40px;                                                // 右侧导航高度
$aside-tabs-size: 14px;                                             // tab文字大小
$aside-tabs-color: $heading-color;                                          // tab文字颜色
$aside-tabs-hover-bg: transparent;                                  // tab hover背景色
$aside-tabs-hover-color: $link-color;                                 // tab hover文字颜色
$aside-tabs-cur-bg: $primary-color;                                      // tab 选中背景色
$aside-tabs-cur-color: #fff;                                        // tab 选中文字颜色
$aside-right-border-color: $border-color-base;                                 // 边框颜色
$aside-padding: 12px;                                                 
$aside-width: 180px;                                                // 导航栏宽度
$aside-project-select-bg: #E8E8E8;                                  // 项目选择背景色

// dark 
$dark-disabled-text-color: #ffffff4d;
$dark-text-color: #ffffffd9;

// blur
$blue-color: #007CEA;

%cf,%clearfix {
    &:before {
        content: "";
        display: table;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// 浅色
$colors-light: (
    body-bg: $body-bg,
    aside-bg: $aside-bg,
    table-even-bg: $table-even-bg,

    border-color: $border-color-base,
    text-color: $text-color,
    text-color-secondary: $text-color-secondary,
    heading-color: $heading-color,
);
 
// 深色
$colors-dark: (
    body-bg: #000,
    aside-bg: rgb(29, 29, 29),
    table-even-bg: rgb(29, 29, 29),

    border-color: #303030,
    text-color: #c9d1d9,
    text-color-secondary: #8b949e,
    heading-color: rgba(255,255,255,0.85),
);