.mt,
.g-mt {
    margin-top: $space;
}

.mr,
.g-mr {
    margin-right: $space;
}

.ml,
.g-ml {
    margin-left: $space;
}

.mb,
.g-mb {
    margin-bottom: $space;
}

@each $i in (10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100) {
    .w-p-#{$i} {
        width: unquote($i+'%') !important;
    }

    .m-l-#{$i} {
        margin-left:  unquote($i+'px')!important;
    }

    .m-t-#{$i} {
        margin-top: unquote($i+'px') !important;
    }

    .p-l-#{$i} {
        padding-left: unquote($i+'px')!important;
    }
}

// 宽度
@each $i in $qmWidthArr {
    .w-#{$i} {
        width: unquote($i+'px') !important
    }
}

// card 统一布局
.qm-card,
.g-card {
    border-radius: 10px;
    width: 100%;
    cursor: default;
}

// 遮罩
.qm-mask,
.g-mask {
    position: relative;
    .mask {
        pointer-events: auto;
        overflow-y:scroll;
        overflow-x:scroll;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1001
    }
}

// flex布局
.qm-flex,
.g-flex {
    @include flex-center(left, center);

    .flex {
        flex: 1
    }

    &-center {
        @include flex-center(center, center);

        .flex {
            flex: 1
        }
    }

    &-around {
        @include flex-center(space-around, center);

        .flex {
            flex: 1
        }
    }
    &-between {
        @include flex-center(space-between, center);

        .flex {
            flex: 1
        }
    }
    &-end {
        @include flex-center(flex-end, center);

        .flex {
            flex: 1
        }
    }

}

.bg,
.qm-bg {

    &-red {
        background-color: $error-color
    }

    &-green {
        background: $success-color
    }

    &-grey {
        background: $disabled-table-color
    }
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: $body-bg;
    overflow: hidden;

    &.gray-mode {
        filter: grayscale(100%) !important;
        filter: progid:dximagetransform.microsoft.basicimage(grayscale=1) !important;
    }
}

// =================================
// ==============scrollbar==========
// =================================

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    z-index: 1002;
}

// ::-webkit-scrollbar-track {
//   background: transparent;
// }

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
    // background: rgba(0, 0, 0, 0.6);
    background-color: rgba(144, 147, 153, 0.3);
    // background-color: rgba(144, 147, 153, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b6b7b9;
}

::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0.05);

}

// =================================
// ==============nprogress==========
// =================================
#nprogress {
    pointer-events: none;

    .bar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        width: 100%;
        height: 2px;
        background-color: $primary-color;
        opacity: 0.75;
    }
}

#app {
    font-family: Arial, \u601d\u6e90\u5b8b\u4f53, PingFangSC-Regular, \5FAE\8F6F\96C5\9ED1, \5b8b\4f53;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    width: 100%;
    height: 100%;
}

.wrapper,
.wrapper-special {
    @include flexbox();
    height: calc(100vh - 48px);
    overflow: hidden;

    .main {
        display: block;
        @include flexboxChild();
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;
        @include bg-color(body-bg);

        // &::-webkit-scrollbar {
        //     -webkit-appearance: none;
        // }
        // &::-webkit-scrollbar:vertical {
        //     width: 16px;
        // }
        // &::-webkit-scrollbar-thumb {
        //     border-radius: 8px;
        //     border: 2px solid #F1F1F1;
        //     background-color: #C1C1C1;
        // }
        .row {
            // padding: $space;
            margin-top: $space;

            &:first-child {
                margin-top: 0;
            }

            &.padding {
                padding: $space;
            }

            &.flex {
                @include flexbox();
                background: none;
                padding: 0;
                margin: 0;
            }

            .col-a {
                @include flexboxChild();
                display: block;
                width: 100%;
                background: #fff;
                padding: $space;
            }

            .col-b {
                display: block;
                margin-left: $space;
                width: 300px;
                padding: $space;
                background: #fff;
            }
        }

        .mt {
            margin-top: $space;
        }

        .mr {
            margin-right: $space;
        }

        .ml {
            margin-left: $space;
        }

        .mb {
            margin-bottom: $space;
        }

        .important {
            color: $important-color;
        }

        .important-second {
            color: $important-second-color;
        }

        .bold {
            font-weight: bold;
        }

        .red {
            color: red;
        }
    }
}

.wrapper-special {
    height: 100%;

    .main {
        padding: 0;
        background: none;
    }
}

.wrapper-special {
    height: 100%;

    .main {
        padding: 0;
        background: none;
    }
}

.qm-position-sticky,
.g-position-sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
}